.App {
  text-align: center;
}

.header-container {
  margin: 0 auto;
  width: 40%;
  padding: 20px;
}

.header-container h2 {
  margin-bottom: 0;
}

.status-container {
  margin: 0 auto;
  width: 40%;
  border: #aaa;
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
}


