.BuildStatus {

}

.status-container {
  margin: 0 auto;
  width: 450px;
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 640px) {
  .status-container {
    width: auto;
  }
}

.commits-container {
  color: #aaa;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
  width: 490px;
}

.commits-container ul li {
  background-color: #fff;
}


@media (max-width: 640px) {
  .commits-container {
    width: auto;
  }
}

.host {
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
  margin-bottom: 15px;
}

.status-areas {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.status-left {
  text-align: left;
  line-height: 1.5em;
}

.status-right {
  position: relative;
}

.monospaced {
  font-family: courier, courier-new, sans-serif;
}

.build-number {
  /*
  position: absolute;
  top: 0;
  right: 0;
  */
  font-size: 2.5em;
  line-height: 1em;
  color: #aaa;
  width: 75px;
}

@media (max-width: 420px) {
  .status-right {
    display: none;
  }
}

.loading-container {
  text-align: center;
}

.loadingImg {
  width: 50px;
  height: 50px
}

.loadingImgSm {
  width: 16px;
  height: 16px
}

.vsep {
  width: 100%;
  height: 0;
  border-top: #ddd 1px solid;
  border-bottom: #fff 1px solid;
}

.duration {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #aaa;
  font-size: .8em;
}

.progress {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background: #f7f7f7 linear-gradient(to top, #f5f5f5, #f9f9f9) repeat-x;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.bar {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #0e90d2 linear-gradient(to top, #149bdf, #0480be) repeat-x;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  transition: width 0.6s ease;
}

.bar-success {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #21C707 linear-gradient(to top, #1EB806, #21C707) repeat-x;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  transition: width 0.6s ease;
}

.bar-failure {
   z-index: 1;
   position: absolute;
   top: 0;
   left: 0;
   height: 50px;
   border-radius: 5px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   background: #DE0404 linear-gradient(to top, #F00505, #DE0404) repeat-x;
   box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
   box-sizing: border-box;
   transition: width 0.6s ease;
 }

.bar-aborted {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #E4B912 linear-gradient(to top, #D5AD11, #E4B912) repeat-x;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  transition: width 0.6s ease;
}

.percentage {
  position: relative;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  z-index: 2;
  line-height: 50px;
  text-align: center;
  width: 100%;
}
